body{
  background-color: lightblue;
}

.jumbotron{
  background-color: lightblue;
  padding-top: 10%;
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  text-align: center;
  background-color: #black;
}

hr {
  width: 70%;
}

.stealy {
  height: 33%;
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.row{
  padding-left: 42%;
}
